iframe.clever-ads,
iframe.akcelo-ads,
iframe.ads-test-iframe {
  position: static;
  /* 201px does not work */
  height: 202px !important;
  width: 100%;
}

.clever-ads-container {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: 330px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.clever-ads-container iframe.clever-ads {
  width: 320px;
  height: 266px !important;
  border: 0;
  display: block;
  flex-shrink: 0;
}

.left-menu-div {
  width: 100%;
  height: 100%;
  max-height: calc(601px + 2rem);
  background-color: #ddd;

  display: flex;
  flex-direction: column;

  align-self: flex-end;
  min-height: 0;
}

.ad-div-left {
  height: 100%;
  max-height: 600px;
  min-height: 0;
}

.left-ad {
  width: 100%;
  height: 100%;
}

.ad-div-right {
  margin: 0;
  min-height: 100%;
  min-width: 160px;
  width: 15vw;
  border-left: 1px solid #ccc;

  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.right-ad {
  width: 100%;
  height: 100%;
  max-height: calc(100% - 31px);
  background-color: #ddd;

  display: flex;
  flex-direction: column;

  align-self: flex-end;
  min-height: 0;
}

.footer-div {
  position: static;
  bottom: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.footer-ad {
  width: 100%;
  height: 90px;
}

.ad-btns-menu-footer,
.ad-btns-menu-clever,
.ad-btns-menu-right {
  position: absolute;

  border: none;
  color: #ddd;
  background-color: #333;

  display: flex;
  align-items: center;
}

.ad-btns-menu-footer {
  right: 0;
  bottom: 90px;

  border-radius: 5px 5px 0 0;
}

.ad-btns-menu-clever {
  position: static;
  flex-shrink: 0;
  border-radius: 0;
}

.ad-btns-menu-clever .btn-open-modal {
  border-radius: 0;
  white-space: nowrap;
}

.ad-btns-menu-right {
  right: 1.2rem;
  top: 344px;

  border-radius: 0 0 5px 5px;
}

.btn-open-modal,
.btn-open-modal-right,
.btn-menu {
  padding: .5rem 1rem;
  font-size: 1rem;
  line-height: 1rem;

  border: none;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  color: #ddd;
  background-color: #333;
}

.btn-menu {
  border-radius: 0;
  flex-shrink: 0;
  border-bottom: 1px solid #ccc;
}

.btn-open-modal-right {
  border-radius: 0 0 5px 5px;
}

.btn-open-modal:hover,
.btn-open-modal-right:hover,
.btn-menu:hover {
  color: #eee;
  background-color: #222;
}

.btn-open-modal:active,
.btn-open-modal-right:active,
.btn-menu:active {
  color: #fff;
  background-color: #000;
}

.footer-content {
  width: 100%;
  height: 90px;
  background-color: #ddd;
  display: flex;
  justify-content: center;
}
.footer-content iframe {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}

@media screen and (max-width: 1100px) {
  .ad-div-right {
    display: none;
  }
}
