.dp-usable {
	display: flex;

	height: 100%;
	width: 100%;
}

#menu-div {
	margin: 0;
	overflow: clip;
	min-height: 100%;
	min-width: 160px;
	width: 15vw;
	background-color: #f8f8f8;
	border-right: 1px solid #ccc;

	display: flex;
	flex-direction: column;
	flex-shrink: 0;
}

#menu {
	min-height: 10.5rem;
	margin-block: 0.8rem 0.5rem;
	padding-left: 0;
	overflow-x: clip;
	overflow-y: scroll;
	width: 100%;

	flex: 1;

	scrollbar-color: #999 transparent;
	scrollbar-width: thin;
}

#menu::-webkit-scrollbar {
	width: .2rem;
}

#menu::-webkit-scrollbar-track {
	background-color: transparent;
}

#menu::-webkit-scrollbar-thumb {
	background-color: #999;
	border-radius: .1rem;
}

#menu li {
	list-style: none;
	padding: 0;
	width: inherit;
	text-align: left;
	white-space: nowrap;
	font-size: 1rem;
}

a {
	padding-block: .2rem;
	padding-inline: 0.8rem 0.4rem;
	color: #000000cc;
	text-decoration: none;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}

a:hover {
	color: #000;
	background-color: #f0f0f0;
	text-decoration: underline;
}

.overflowed-content {
	content: attr(data-content);
	color: #000;
	text-decoration: underline;

	display: flex;
	align-items: center;

	position: absolute;
	margin-left: -.5rem;

	background-color: #f0f0f0;
	outline: 1px solid #aaa;
	padding: .2rem .5rem;

	pointer-events: none;
}

.dp-right-side {
	display: flex;
	flex-direction: column;

	min-width: 0;
	width: 100%;
	min-height: 100%;
	height: 100%;
}

text-div {
	margin: auto;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	resize: none;
	box-sizing: border-box;
}

#text {
	margin: auto;
	font-family: Arial, Helvetica, Tahoma, Verdana;
	font-size: 1rem;
	width: 100%;
	height: 100%;
	padding: .6rem;
	padding-bottom: 2rem;
	border: none;
	outline: none;
	color: #111111;
	resize: none;
	overflow-y: scroll;
	box-sizing: border-box;
}

captcha-overlay {
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #0008;
	align-items: center;
	justify-content: center;
	z-index: 3;
}

captcha-modal {
	background-color: #fff;
	padding: 2.5rem;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
}

captcha-modal .captcha-message {
	font-size: 1.6rem;
	color: #000;
}
