html { 
	margin: 0rem;
	padding: 0rem;
	height: 100%;
}

body {
	margin: 0rem; 
	padding: 0rem;
	background-color: #F5F5F5;
	font-size: 1rem;
	font-family: Arial, Helvetica, Tahoma, Verdana;
	overflow: hidden;
	height: 100%;
	display: flex;
	flex-direction: column;
}

h2 {
	margin: 0;
	font-size: 1.3rem;
}
